*{
    margin: 0px;
    padding: 0px;
}

#navbar{
background: linear-gradient(to top left, #25BCFF,#1781E8);
height: 80px;
position: fixed;z-index: 3;
left: 0;
right: 0;
top: 0;

}

#navbar ul{
    padding: 0px;
    margin: 0px;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#navbar ul li{
    font-size: .9rem;
    padding: 0 5px 0 5px;
  transition: 0.5s;
}

#navbar ul li:hover{
    text-shadow: 0px 0px 5px white, 0px 0px 5px white;
}

#navbar ul li a{

    text-decoration: none;
    color: white;
}

/* *****************welcome-section***************************/

h1,h2{
    color: white;
}

.welcome-section p{
    color:#25BCFF;
}
.welcome-section{
  width: 100%;
  height: 100vh;

  background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* ********************************************/
/* *****************Sobre mi***************************/
#sobre-mi{
    padding-top: 20px;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    max-height: auto;
    color: white;
    background: linear-gradient(62deg,#2D4262  0%, #363237 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


lottie-player{

    width: 100%;
    max-width: auto ;
    height: 60%;
    max-width: 240px;

}
#sobre-mi #box-sobre-mi{
 display: flex;      
 flex-direction: column;
 justify-content: center;
 align-items: center;

}

#sobre-mi p{
padding: 5px;
    font-size: 1.1rem;
    width: 90%;
    height: auto;
    text-align: center;
    background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    border-radius: 15px;
    box-shadow: 1px 1px 6px 5px rgba(0,0,0,0.5);
}
/* ********************************************/
/* *****************Tecnologias***************************/
#tecnologias{
    overflow: hidden;
    width: 100%;
    height: auto;
    background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#tecnologias #titulo{
    margin-top: 75px;
}
#cont-tec{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  flex: 0 1 calc(30% - 3rem);


    }
.box-cont{
    height: 130px;
    width: 130px;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(62deg, #B3B6B7 0%, #F8F9F9 100%);
    box-shadow: 1px 1px 6px 5px rgba(0,0,0,0.5);
    overflow: hidden;
    position:relative;
}

.box-cont img{
    width: 100%;
    height: 100%;
/* -----------------Efecto hover a la imagen y opasidad--------------- */
    transition: all 500ms ease-out;
}
/* -----------------Efecto hover a la imagen y opasidad--------------- */

.box-cont .info{
    font-size: 0.9rem;
    background-color:rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity:0;
  visibility: hidden;
  text-align: center;
  transition: all 500ms ease-out;

} 

.box-cont:hover > .info{
  opacity: 1;
  visibility: visible;
}
.box-cont .info h2{
    font-size: 1rem;
    color: #181719;
  margin-bottom: 120px;
  transition: all 500ms ease-out;
  margin-top: 10px;
}
.box-cont:hover > .info h2{
    margin-top: 20px;
    margin-bottom: 5px;
}

.box-cont:hover > .info p{
    font-size: 9.8px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}



/* ********************************************/

/* *****************projects***************************/
.projects-sections{
    overflow: hidden;
  background: linear-gradient(62deg,#2D4262  0%, #363237 100%);
  padding-top: 100px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
 text-align: center;
}

#carouselExampleControls{
    margin-top: 10px;
}
.img-proyects{
    /* align-self: center; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    /* flex-wrap: wrap;  */
   /* align-items: center; */
   /* flex: 0 1 calc(20% - 3rem); */


}
.img-proyects .project-tile{
    /* margin-bottom: 20px; */
    margin: 20px auto;
    width: 220px;
    height: 92%; 
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 1px 1px 6px 5px rgba(0,0,0,0.5);
}

.img-proyects .project-tile a{
    color: white;
    text-decoration: none;
}

.img-proyects .project-tile a p{
    margin: 0px;

    font-size: 1rem;
}
.code{
    color: transparent;
    transition: .5s;
}
.project:hover .code{
    color:orange;
}

img{
    width: 100%;
    height: 300px;
}
/* ********************************************/
/* *****************contacts***************************/
.perfil-contacto{
    color: white;
    background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.perfil-contacto h2{
    text-align: center;
}
.perfil-contacto p{
    text-align: center;
}
.perfil-contacto .contact-links{
    width: 40%;
    height: 100px;
display: flex;
flex-direction: column;
align-items: flex-start;
}

.perfil-contacto .contact-links a{
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    text-shadow: 1px 4px 3px rgba(0,0,0,0.5);
    transition: 0.3s;
}

.perfil-contacto .contact-links a:hover{
   /* transform: scale(1.2); */
   margin-top: 15px;
}

footer{
    border-top: 3px solid #25BCFF;
    height: 20vh;
    background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p {
    font-size: .8rem;
    color: white;
}
footer p i{
    color: red;
}
/* ********************************************/
/************* Media query 530 **************/
@media screen and (min-width:560px){
    
    #navbar ul{
        justify-content: space-evenly;
        align-items: center;
    }
    #navbar ul li{
        padding: 0 10px 0 10px;
        font-size: 1.1rem;
      
    }

    .welcome-section{
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      /* *****************Sobre mi***************************/


      #sobre-mi{
       overflow: hidden;
        width: 100%;
        height: 100vh;
        max-height: auto;
        font-size: 1.2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #sobre-mi #box-sobre-mi{

        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

    }
    #sobre-mi h2{
        
margin-top: 60px;
        
    }

    lottie-player{
        background:none;
        box-shadow: none;
        width: 100%;
        max-width: auto ;
        height: 60%;
        max-width: 240px;

    }
   
    #sobre-mi p{
        text-align: center;
        font-size: 1.2rem;
       padding: 20px;
        width: 90%;
        height: 80%;
    }

/* ********************************************* */
/* *****************Tecnologias***************************/
#tecnologias{
    width: 100%;
    height: 100vh;
    max-height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#tecnologias #titulo{
    margin-top: 50px;
}
#cont-tec{
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    }
.box-cont{
    height: 130px;
    width: auto;
    padding: 10px;
    margin: 10px;

}
/* -----------------Efecto hover a la imagen y opasidad--------------- */

.box-cont .info{
    font-size: 0.9rem;
} 

.box-cont .info h2{
    font-size: 1rem; 
}

.box-cont:hover > .info p{
    font-size: 9.5px;
}
/* ********************************************/


/* ********************************************* */
/* *****************Proyectos***************************/


    .projects-sections{

        padding-top: 100px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
       text-align: center;
      }
      
      .img-proyects{
          margin: auto;
          width: 90%;
          height: 100%;
          flex-direction: row;
          justify-content: space-evenly;
          flex-wrap: wrap;
      }
      .img-proyects .project-tile{  
          border-radius: 15px;
          width: 210px;
          max-height: 400px;
          height: auto;
      }
      
      
      .img-proyects .project-tile a p{
          font-size: .9rem;
      }
      
      .img-proyects .project-tile img{
          max-width: 370px;
          max-height: 380px;
          width: 100%;
          height: 340px;
      }

       /* *****************contacts***************************/

.perfil-contacto .contact-links{
    width: 82%;
    height: 100px;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
}

.perfil-contacto .contact-links a{
    text-align: center;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;

}

footer p {
    font-size: 1.1rem;
}

}

/* ***********************************************/

/************* Media query 820 **************/

@media screen and (min-width:820px){
  
    #navbar ul{
        justify-content: flex-end;
        align-items: center;
    }
    #navbar ul li{
        padding: 0 20px 0 20px;
        overflow: hidden;
        font-size: 1.6rem;      
    }

    .welcome-section{
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      /* *****************Sobre mi***************************/


      #sobre-mi{

        width: 100%;
        height: 100vh;
        padding-top: 90px;
        text-align: justify;
        font-size: 1.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #sobre-mi #box-sobre-mi{
        padding-top: 10px;
flex-direction: row;
justify-content: space-evenly;

    }
    #sobre-mi h2{
        margin-bottom: 10px;
        }

    lottie-player{
        width: 100%;
        height: 90%;
        max-width: 400px;

    }
   
    #sobre-mi p{
       padding: 10px;
        width: 50%;
        height: auto;
    }
/* *******************************************************/

/* *****************Tecnologias***************************/
#tecnologias{
    width: 100%;
    height: auto;
    max-height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#tecnologias #titulo{
    margin-top: 75px;
}
#cont-tec{
    width: 80%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    }
.box-cont{
    height: 150px;
    width: auto;
    padding: 10px;
    margin: 25px 20px 25px 20px;

}
/* -----------------Efecto hover a la imagen y opasidad--------------- */

.box-cont .info{
    font-size: 0.9rem;
} 

.box-cont .info h2{
    font-size: 1rem; 
}

.box-cont:hover > .info p{
    font-size: .7rem;
}
/* ********************************************/




      /* *****************projects***************************/
.projects-sections{
    justify-content: center;
    padding-top: 100px;
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: column;
   text-align: center;
  }
  
  .img-proyects{
      width: 90%;
      height: 100%;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
  }
  .img-proyects .project-tile{  
      border-radius: 15px;
      width: 230px;
      max-height: 400px;
      height: auto;

  }
  
  
  .img-proyects .project-tile a p{
      font-size: 1.1rem;
  }
  
.img-proyects .project-tile img{
    max-width: 370px;
    max-height: 380px;
width: 100%;
height: 340px;
      
  }

  /* *****************contacts***************************/
.perfil-contacto{
 
    width: 100%;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.perfil-contacto p{
    text-align: center;
}
.perfil-contacto .contact-links{
    width: 70%;
    height: 100px;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
}

.perfil-contacto .contact-links a{
    font-size: 1.5rem;
    color: white;
    text-decoration: none;

}


footer{

    height: 20vh;
    justify-content: center;
    align-items: center;
}
footer p {
    font-size: 1.3rem;
}
        
}
/* ********************************************/

/* *****************Tecnologias***************************/
@media screen and (min-width:1000px){
    .projects-sections{
        justify-content: center;
        padding-top: 100px;
        width: 100%;
        height: 150vh;
        display: flex;
        flex-direction: column;
       text-align: center;
      }
      
      .img-proyects{
          width: 78%;
          height: 100%;
          flex-direction: row;
          justify-content: space-evenly;
          flex-wrap: wrap;
      }
      .img-proyects .project-tile{  
          border-radius: 15px;
          width: 240px;
      max-height: 410px;
      height: auto;
    
      }
      
      
      .img-proyects .project-tile a p{
          font-size: 1.3rem;
      }
      
    .img-proyects .project-tile img{
        max-width: 370px;
        max-height: 380px;
    width: 100%;
    height: 340px;
          
      }
    

}
/* ********************************************/

/* *****************Tecnologias***************************/
@media screen and (min-width:1258px){
#tecnologias{
    width: 100%;
    height: 100vh;
    max-height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#tecnologias #titulo{
    margin-top: 75px;
}
#cont-tec{
    width: 70%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    }
.box-cont{
    height: 180px;
    width: auto;
    margin: 25px 20px 25px 20px; 
}

/* -----------------Efecto hover a la imagen y opasidad--------------- */

.box-cont .info{
    font-size: 0.9rem;
} 

.box-cont .info h2{
    font-size: 1.1rem;


}
.box-cont:hover > .info h2{
    margin-top: 20px;
    margin-bottom: 5px;
}

.box-cont:hover > .info p{
    font-size: .9rem;
}

/* *****************Tecnologias***************************/

.projects-sections{
    justify-content: center;
    padding-top: 100px;
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: column;
   text-align: center;
  }
  
  .img-proyects{
      width: 100%;
      height: 100%;
      flex-direction: row;
      justify-content: space-evenly;
  }
  .img-proyects .project-tile{  
      border-radius: 15px;
      width: 250px;
      height: auto;

  }
  
  
  .img-proyects .project-tile a p{
      font-size: 1.1rem;
  }
  
.img-proyects .project-tile img{
    max-width: 390px;
    max-height: 400px;
width: 100%;
height: 390px;
      
  }
    
}
/* ***********************************************/

/* *****************Proyectos***************************/
@media screen and (min-width:1130px){
    .projects-sections{
        justify-content: center;
        padding-top: 100px;
        width: 100%;
        height: 160vh;
        display: flex;
        flex-direction: column;
       text-align: center;
      }
      
      .img-proyects{
          width: 66%;
          height: auto;
          flex-direction: row;
          justify-content: space-evenly;
          flex-wrap: wrap;
      }
      .img-proyects .project-tile{  
          border-radius: 15px;
          width: 230px;
          height: 362px;
    
      }
      
      
      .img-proyects .project-tile a p{
          font-size: 1.4rem;
      }
      
      .img-proyects .project-tile img{
          max-width: 300px;
          max-height: 500px;
          height: 325px;
      }
    
}
